* {
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome , Safari*/
    -webkit-tap-highlight-color: transparent;
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 古早瀏覽器 */
    user-select: none;
}

a {
    text-decoration: none;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        /* 初始透明度为0 */
    }

    100% {
        opacity: 1;
        /* 最终透明度为1 */
    }
}


.background-container img {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.center-container {
    display: flex;
    flex-wrap: wrap;
    /* 允许按钮换行 */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-container a .home {
    max-width: 300px;
    /* 设置图像的最大宽度为300px，但可以小于这个值 */
    border-radius: 150px;
    opacity: 1;
    /* 设置初始透明度为1，显示图片和文本 */
    /* transition: opacity 0.3s ease; */
    /* 添加透明度过渡效果 */
    /* animation: zoom-in 1.5s ease-in-out, fade-in 1.5s ease-in-out; */
}

.center-container a:active img{
    opacity: 0.6;
}

/* 为链接内的文本设置初始透明度为0，隐藏文本 */
/* .center-container a .button-text {
    color: #fff;
    font-family: serif, Didot, monospace, cursive, Courier New;
    font-style: italic;
    font-size: 200px;
    position: absolute; */
    /* 设置绝对定位，相对于包含它的 <a> 元素 */
    /* top: 50%; */
    /* 将文本垂直居中 */
    /* left: 50%; */
    /*将文本水平居中 */
    /* transform: translate(-50%, -45%); */
    /*通过平移将文本居中*/
    /* opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; */
    /* 设置文本的层叠顺序，使其在图片上面 
}

/* 为文本设置位置在图片下面 */
/* .center-container a .button-text {
    top: calc(50%); */
    /* 将文本下移，110px 是图片高度的一半 
}

/* 鼠标悬停链接时显示文本和图片 */
/* .center-container a:hover .button-text {
    opacity: 1;
} */

/* .center-container a:active img {
    opacity: 0.6; */
    /* 鼠标悬停时设置透明度为0.6，实现渐变效果 */






.round-button {
    width: 200px;
    height: 200px;
    background-color: #004B97;
    /* 设置背景颜色 */
    color: #fff;
    /* 设置文字颜色 */
    font-family: serif, Didot, monospace, cursive, Courier New;
    font-size: 40px;
    text-align: center;
    line-height: 200px;
    /* 垂直居中文本 */
    border-radius: 50%;
    /* 将边框半径设置为50%以创建圆形按钮 */
    cursor: pointer;
    /* 添加悬停效果 */
    margin: 20px;
    transition: background-color 0.3s
}

.round-button:hover {
    background-color: #46A3FF
}

.photo {
    margin: 20px;
}


.bigtitle h1 {
    font-size: 10vw;
    color: #000079;
}

.bigtitle p {
    font-size: 4vw;
    color: black;
}

.bigtitle {
    color: black;
    font-family: serif, monospace, cursive, Courier New;
    font-style: italic;
    text-align: center;
    line-height: 50px;
    padding: 30px 0 0 0;
}

/* 在较大屏幕上增加字体大小 */
@media screen and (min-width: 768px) {
    .bigtitle h1 {
        font-size: 4rem;
        /* 适当的字体大小 */
    }

    .bigtitle p {
        font-size: 1.5rem;
        /* 适当的字体大小 */
    }
}



/* .bigtitle p {
    border-bottom: 1px solid #000; /* 设置下划线为实线，颜色可以根据需要自行调整 */
/* text-align: center; 让下划线居中 */
/* line-height: 0.1em; 调整行高以使下划线不占用太多空间 */
/* margin: 10px auto; /* 设置适当的上下和左右间距 */
/* padding: 20px; 添加一些内边距以改善样式 */
/* width: 60%; 根据需要设置下划线的宽度 
}*/


.article {
    font-family: Microsoft JhengHei;
    background-color: #fff;
    opacity: 0.8;
    padding: 15px 50px 50px 50px;
    /* 添加内边距以控制文本周围的空白 */
    margin: 80px auto;
    /* 上下间距为80px，左右自动居中 */
    max-width: 800px;
    /* 设置最大宽度，以防止文本变得过宽 */
    text-align: justify;
    line-height: 35px;
    border-radius: 30px;
}

.title {
    text-align: justify;
    color: black;
    font-family: Microsoft JhengHei;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 30px;
    padding: 15px 50px 15px 50px;
    /* 添加内边距以控制文本周围的空白 */
    margin: 50px auto;
    /* 上下间距为80px，左右自动居中 */
    max-width: 800px;
    /* 设置最大宽度，以防止文本变得过宽 */
    line-height: 35px;
    /* transition: background-color 0.3s ease; */
    /* transform: scale(1); */
    border-bottom: 34px solid #000079;
    /* 添加 10px 深蓝色边框 */
    position: relative;
    display: block;

}

/* 在较小屏幕上减小标题字体大小 */
@media screen and (max-width: 768px) {

    .title h1,
    .article h1 {
        font-size: 1.3rem;
        /* 适当的字体大小 */
    }
}

.title a {
    display: block;
    /* 将超链接设置为块级元素 */
    position: absolute;
    /* 设置为绝对定位，以覆盖整个 .title 元素 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.date-keywords {
    font-size: 15px;
    color: #fff;
    display: block;
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 50px;
    text-align: left;
}





/*.title::after {
    content: "";
    display: block;
    height: 40px; /* 新增的高度 
    width: 100%; /* 与原先的宽度一样 
    background-color: darkblue;  背景颜色与原先一样 
}*/

.title:active {
    color: steelblue;
    /* 点击时的背景颜色 */
}

/* .title:hover {
    background-color: 	#B0C4DE;
    transform: scale(1.05);
} */

.next {
    text-align: center;
    color: #000079;
}

.next:active {
    color: darkgray;
}

/* div{
    width:200px;
    height:100px;
    padding:5px 30px;
    margin:50px;
    border-bottom:40px solid #ebcbbe;
}
span.title1{
    display:block;
    width:150px;
    height:30px;
    position:relative;
    top:120px;
    text-align: center;
} */